.pretty-container {
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 5px;
    padding: 10px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.metric-container {
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 10px;
    margin-top: 0%;
    padding: 10px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.metric-card-text {
    margin: 0px;
    padding: 0px;
    font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: darkslategray
}

.model-card-container {
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 0px;
    padding: 0px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.model-card-text {
    margin: 0px;
    padding: 1px;
    font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: darkslategray;
}

.card-title {
    margin: 0px;
    padding: 0px;
    font-family: Ucityweb, sans-serif;
    font-weight: normal;
}

.app-title {
    font-family: Montserrat, sans-serif
}

#left-fig .modebar {
    margin-top: 10px;
}

#right-fig .modebar {
    margin-top: 10px;
}
